@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');

:root{
    --form-width:600px;
    --form-height:550px;
    --submit-width:110px;
    --submit-height:41px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Mukta', sans-serif;
}

body{
    height: 100vh;
    background-color: #0B0C1B;
}

header{
    height: 10%;
    display: grid;
    align-items: center;
    justify-content: center;
}
input{
    color: black;
}

main{
    width: 100%;
    height: 90%;
}

.container-form{
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.container-form form{
    background-color: #0f1022;
    width: var(--form-width);
    height: var(--form-height);

    position: relative;
    top: calc(50% - var(--form-height)/2);
    left: calc(50% - var(--form-width)/2);
    
    border-radius: 30px;
} 

.container__p, .container__s{
    min-width: 100%;
}

.container__p{
    height: 35%;
}
.container__s{
    height: 65%;
}

/*************************First-form-div***************************/

 /* .container__p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

#container__info{
    width: 100%;
    height: 50%;
    display: grid;
    align-items: center;
}

#info{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 27%;
}

#info__sn{
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=password], input[type=email]{
    background-color: #ffffff00;
    border: 1px solid white;
    border-radius: 5px;
}

#container__sex{
    width: 100%;
    height: 50%;
    display: grid;
    align-items: center;
}

#sex{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#sex__radio{
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.container__next{
    display: none;
}

/*
.container__next{
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#next{
    width: 110px;
    height: 41px;
    background-color: #087CA7;
    border-radius: 10px;
    margin-right: 10%;
    display: grid;
    justify-items: center;
    align-items: center;
} */

/*************************Second-form-div***************************/

.container__s{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#c__mail, #c__nickname{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#mail, #nickname, #pwd, #c_pwd, #job{
    width: 80%;
}

.container__password{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
}

.job{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.submit{
    width: 70%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button[type=submit]{
    background-color: #087CA7;
    border: none;
    border-radius: 10px;
    width: var(--submit-width);
    height: var(--submit-height);
}

@media only screen and (max-width:390px){
    .container-form{
        
    }
}